[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
psycopg2 = "*"
gunicorn = "==20.0.4"
flask-login = "*"
flask-bcrypt = "*"
flask-mail = "*"
flask-wtf = "*"
wtforms = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.8"
