html,
body {
    margin: 0;
    padding: 0;
}


.container{
  border-radius: 15px;
  background-color: rgb(212, 247, 247);
}

h3{
  text-decoration: underline;
  text-align: center;
}


p{
  font-size: 24px;
  margin-left: 10px;
  color: rgb(0, 0, 0);
  text-align:justify;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Define   */

/* desktop:1200px */
/* laptop:1024px */
/* tablet:768px */
/* ipad-mini:703px */
/* iphone6+:414px */
/* iphone 5S:320px */

@media screen and (max-width:1200px) and (min-width:1024px) {
  .container{
    min-width: 15rem;
    max-width: 30rem;
    height: auto;
    margin: auto;
    border-radius: 25px;
    background-color: rgb(82, 184, 184);
  } 
  
}