html, 
body{
  margin: 0;
  padding: 0;
  background-size:cover;
}

.container{
  min-width: 30rem;
  max-width: 60rem;
  height: auto;
  margin: auto;
  border-radius: 15px;
  background-color: rgb(237, 244, 244);
}

h3{
  text-decoration: underline;
  text-align: center;
}


p{
  font-size: 24px;
  margin-left: 10px;
  color: rgb(0, 0, 0);
  text-align:justify;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
