html,
body{
  background:rgb(255, 255, 255); 
}

.container{
  margin-top:30px;
}

.nav-tabs{
  border: none;
  height: 60px;
}

.tab-pane button{
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgb(186, 218, 243);
}

.tab-pane .active{
  position:relative;
  opacity: 60%;
  background-color: rgb(153, 159, 182);
  border-radius: 15px;
}

.tab-pane a{
  font-size: larger;
  margin: 5px;
  font-weight: bold;
  border-radius: 15px;
  background-color: rgb(232, 235, 236);
  box-shadow: 5px 10px 10px rgb(213, 213, 214);
}

.tab-pane a:hover{
  margin: 5px;
  border-radius: 15px;
}



.nav-tabs .active{
  border-radius: 25px;
  text-align: center;
  margin-bottom: 5px;
  border: solid rgb(129, 74, 200);
  background-color: rgb(152, 152, 241);
  box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgb(95, 123, 210) inset,
							0 0.75rem 0.5rem rgba(35, 4, 237, 0.4) inset,
							0 0.25rem 0.5rem 0 rgb(33, 62, 211) inset;
}

#tab a{
  margin: 5px;
  text-decoration: none;
  font-family: Arial;
  font-size:15px;
  color: rgb(43, 43, 45);
  text-align: center;
  border-radius: 20px;
}



