html,
body{
  background:rgb(255, 255, 255); 
}


#tab a{
  text-decoration: none;
  font-family: Arial;
  font-size: large;
  color: rgb(43, 43, 45);
  text-align: center;
  border-radius: 25px;
  margin: 15px;
}

.nav-tabs {
  border: none;
  border-radius: 15px;
}


.nav-tabs .active{
  border-radius: 15px;
  margin-bottom: 10px;
  text-align: center;
  border: solid rgb(129, 74, 200);
  background-color: rgb(152, 152, 241);
  box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgb(95, 123, 210) inset,
							0 0.75rem 0.5rem rgba(35, 4, 237, 0.4) inset,
							0 0.25rem 0.5rem 0 rgb(33, 62, 211) inset;
}


