nav{
display: flex;
width: 100%;
overflow: auto;
position: sticky;
background-color: rgb(170, 201, 224);
}

nav ul li{
float:left;
}

.navbar-toggler{
    background-color: aliceblue;
} 

nav ul li > .active a {
    color: aqua;
    font-style: italic;
    background-color: chartreuse;    
  }

nav ul li a{
    width: 150px;
    display:block;
    padding: 10px 10px 20px;
    text-decoration: none;
    font-family: Arial;
    text-align: center;
    font-size: 40px;
}


nav ul li a:hover{
    background: rgb(121, 123, 123);
    transition: 0.25s;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    text-decoration: underline;
}

