html, 
body{
 background: rgb(245, 249, 250); 
}

.container{
  min-width: 300px;
}

.card {
  max-width: 500px;
  margin: auto;
  padding: auto;
  text-align: center;
  padding-top: 10px;
  background-color: aliceblue;
  box-shadow: 15px 15px 10px 0 rgba(64, 181, 232, 0.2);
  }

.center {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 180px;
  max-width: 400px;
  border-radius: 20px;
  }

.button {
  border: none;
  padding: 8px;
  color: rgb(21, 21, 31);
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  max-width: 100%;
  display: inline-block;
  background-color: rgb(166, 181, 240);
}

.button:hover{
  border-radius: 15px;
  background-color: rgb(115, 136, 221);
}

a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

h1{
  min-width: 150px;
  font-size: 36px;
  text-decoration: underline;
}

p{
    font-size: 24px;
    min-width: 250px;
}

.upload-button input[type="file"]{
  width: auto;
  outline: none;
  padding: 4px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #a2aef3;;
  background-color: rgb(170, 201, 224);
}


.upload-button input[type="submit"]{
  border: 1px solid #1d3df7;
  outline: none;
  font-size: 16px;
  text-align: justify;
  font: bold;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
  color: rgb(6, 7, 7);
  line-height: 2.rem;
	font-size: 1.3rem;
	font-weight: 600;
  background-image: linear-gradient(-180deg, #18ac87 0%, #07e2e2 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							0 0.75rem 0.5rem rgba(35, 4, 237, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}