<!doctype html>
<!-- ********************************************************************************************************************************-->
<!-- All dependencies for datatables -->
<!-- ********************************************************************************************************************************-->
<head>
  {% block styles %}

    <!-- Local style -->
    <link rel="stylesheet" href="{{url_for('.static', filename='countries.css')}}">

    <!-- Table filter -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-3.5.1.js"></script>   
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script> 
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js"></script> 

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/fixedcolumns/4.1.0/css/fixedColumns.dataTables.min.css">


    <!-- Exportation -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>   
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>   
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>   

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">


  {% endblock%}

</head> 

{% extends 'base.html' %}
{% block title %}America{% endblock %}

{% block content %} 

    <div class="container" style="padding: 80px;">  
        <div class="container-fluid"><h1>America</h1></div>
        <table id="table1" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Country</th>
                    <th>Study</th>
                    <th>Submission</th>
                    <th>Documents</th>
                    <th>Note</th>
                </tr>
            </thead>
            
            <tfoot>
                <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Country</th>
                <th>Study</th>
                <th>Submission</th>
                <th>Documents</th>
                <th>Note</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <script>   
        $(document).ready(function(){
        // Setup - add a text input to each footer cell
        $('#table1 tfoot th').each( function (i) {
            var title = $('#table1 thead th').eq( $(this).index() ).text();
            $(this).html( '<input type="text" placeholder="'+title+'" data-index="'+i+'" />' );
        });

        // DataTable
        var table = $('#table1').DataTable({
            "autoWidth": false,
            scrollY: "600px",
            scrollX:true,
            'lengthMenu': [[10, 25, 50, 75, 100, 2**32], [10, 25, 50, 75, 100, "All"]],  // 32 bytes integer => the higest integer of our machine
            'dom': 'lBfrtip',
            buttons: [{
                extend: 'copyHtml5', title: 'America - Regulatory Documents'
            }, 
            {
                extend: 'csvHtml5', title: 'America - Regulatory Documents'
            },
            {
                extend: 'excelHtml5', title: 'America - Regulatory Documents'
            },
            {
                extend: 'pdfHtml5', title: 'America - Regulatory Documents'
            },
            {
                extend: 'print', title: 'America - Regulatory Documents'
            }
          ],
            'processing': false,
            'serverMethod': 'post',
            'ajax': {
                'url':'/america/'
                },
            'serverSide': true,
            'columns': [
                {data:'ID'},
                {data:'Code'},
                {data:'Country'},
                {data:'Study'},
                {data:'Submission'},
                {data:'Documents', orderable:false},
                {data:'Note', orderable:false},
                ],
            });

        // Filter event handler
        $( table.table().container() ).on('keyup', 'tfoot input', function () {
            table
                .column( $(this).data('index') )
                .search( this.value )
                .draw();
        });

        });  
            
    </script>

 {% endblock %}
