<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('.static', filename='welcome.css')}}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expired!!!</title>
</head>
<body>
    <div  class="centered-text" style="color: deeppink;"><h1>This link is expired. Please, <a href="{{url_for('signup')}}">signup</a> again with another email address.</h1>
    </div>

</body>
</html>