<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="{{url_for('.static', filename='login.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='flashes.css')}}">


  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot password</title>
</head>
<body>

  {%  for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }} alert-dismissible fade show"
   role="alert" style="text-align: center; font-style:inherit;">
    {{ message}}
  </div>
  {% endfor %}

  <div class="loginBox"><h2 id="resetpwd" style="position:center;">Forgot password</h2></br>
    <img class="user" src="https://www.md-clinicals.com/assets/img/logo.png" height="60px" width="275px">
    <form method="POST" action="{{url_for('forgot')}}">
        {{form.hidden_tag()}}
        {{form.email}}
        {{form.submit}}         
      </form></br>
  </div>

</body>
</html>


