<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="{{url_for('.static', filename='login.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='flashes.css')}}">


  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login page</title>
</head>
<body>

  <div class="loginBox"> <img class="user" src="https://www.md-clinicals.com/assets/img/logo.png" height="60px" width="275px">

    <form method="POST" action="/login">
        {{form.hidden_tag()}}
        {{form.email}}
        {{form.password}}
        {{form.submit}} 
        <div>
          <a href="{{url_for('forgot')}}">Forgot password</a> 
       </div></br>
      </form></br>

    {%  for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }} alert-dismissible fade show"
         role="alert" style="text-align: center; font-style:inherit;">
          {{ message}}
        </div>
    {% endfor %}

    <div>
      <a href="{{url_for('signup')}}">Don't have an account? Sign up</a> 
   </div></br>
</div>

</body>
</html>


