<!doctype html>
<head>
  {% block styles %}
  <link rel="stylesheet" href="{{url_for('.static', filename='navbar.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% endblock %}
</head>

<div class="container-fluid"></div>
  <nav class="navbar navbar-expand-md fixed-top">
      <a class="navbar-brand" href="{{url_for('home')}}"><img src="../static/logo.png" width="300px" style="margin-top:-15px;"></a>
      
      <div class="profile_img">
        {% if current_user.profile_pic %}
            <img src= "{{url_for('static', filename='images/' + current_user.profile_pic)}}" style="width: 35%; border-radius: 50%;">
        {% endif %}
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}"><i class="fa-solid fa-house-chimney"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('signup')}}">SignUp</a>
          </li>
          {% endif %}

          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}"><i class="fa-solid fa-house-chimney"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('dashboard')}}">Database</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('profile')}}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>