<link rel="stylesheet" href="{{url_for('.static', filename='profile.css')}}">

{% extends 'base.html' %}
{% block content %}

  <div class="container" id="groupcards">
    <div class="upload-button" style="font-size: 16pt; font-family: Verdana, Geneva, Tahoma, sans-serif;" > 
      <form method="POST" action="/profile" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.profile_pic.label(class="form-label")}}</br>
        {{form.profile_pic(class="form-control", value=current_user.id)}}
        {{form.submit(class="btn btn-primary")}}    
      </form></br>
    </div>
    <div class="card" style="height:auto;">
      {% if current_user.profile_pic %}
      <img src= "{{url_for('static', filename='images/' + current_user.profile_pic)}}" 
      style="width:100%; height: auto; border-radius: 15px; box-shadow: 10px 10px 5px rgb(190, 221, 247);">
      {% else %}
      <img src= "{{url_for('static', filename='images/my_default_profile.png')}}" style="width:100%; height: auto; border-radius: 15px;">
      {% endif %}
      <br>
      <div class="card-body">
        <h1>{{firstname}} {{lastname}}</h1>
        <p> Company: {{company}}</p>
        <p> Country: {{country}}</p>
        <a href="https://twitter.com/MD_Clinicals"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/yatma-sarr-b072b74a/"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/md.clinicalssa.7"><i class="fa fa-facebook"></i></a>
        <p class="button" title="Please contact Yatma SARR at yatma27@gmail.com"> Help ???</p>
      </div>
    </div>
  
  </div>
  
{% endblock %}
