<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="{{url_for('.static', filename='login.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='flashes.css')}}">


  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register page</title>
</head>
<body>
  
  <div class="loginBox"> <img class="user" src="https://www.md-clinicals.com/assets/img/logo.png" height="60px" width="275px">

    <form method="POST" action="/signup">
      <h3>Sign Up Here</h3>
      {{form.hidden_tag()}}
      {{form.firstname}}
      {{form.lastname}}
      {{form.company}}
      {{form.country}}
      {{form.email}}
      {{form.password}}
      {{form.submit}}
    </form></br>
    {%  for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"
    style="text-align: center; font-style:inherit; color: crimson;">
      {{ message}}
    </div>
    {% endfor %}
    <div class="text-center fs-6"> <a href="{{url_for('login')}}">Already have an account? Login</a> </div>
</div>

</body>
</html>