
<!doctype html>
<head>
  {% block styles %}
  <link rel="stylesheet" href="{{url_for('.static', filename='register.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='flashes.css')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% endblock %}
</head>

{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="loginBox"> <img class="user" src="https://www.md-clinicals.com/assets/img/logo.png" height="60px" width="260px">

    <form method="POST" action="/signup">
      <h3>Sign Up Here</h3>
      {{form.hidden_tag()}}
      {{form.firstname}}
      {{form.lastname}}
      {{form.company}}
      {{form.country}}
      {{form.email}}
      {{form.password}}
      {{form.submit}}
    </form></br>

    <div>
      <a href="{{url_for('login')}}">Already have an account? Login <i class="bi bi-box-arrow-in-right" style="font-size:20px;"></i></a></br>
      <a href="{{url_for('home')}}"><i class="fa fa-fw fa-home" style="font-size:26px;"></i></a>
    </div>
</div>


{%  for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert-{{ category }} alert-dismissible fade show" 
role="alert" style="text-align: center; font-style:inherit;" id="signup_flashes">
  {{ message}}
</div>
{% endfor %}

{% endblock %}