<!DOCTYPE html>

<head>

  {% block styles %}
  <link rel="stylesheet" href="{{url_for('.static', filename='forgot.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='flashes.css')}}">
  {% endblock %}
  
</head>

{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="loginBox"> <h2 id="resetpwd" style="position:center;">Reset password</h2></br>
    <img class="user" src="https://www.md-clinicals.com/assets/img/logo.png" height="60px" width="275px">
    <form method="POST">
      {{form.hidden_tag()}}
      {{form.new_password}}
      {{form.confirm_password}}
      {{form.submit}} 
      <div>
        <a href="{{url_for('login')}}"><h3 style="font-family:tempus sans itc;">Login page</h3></a> 
        <a href="{{url_for('home')}}"><i class="fa fa-fw fa-home"></i></a>  
      </div></br>
    </form></br>
</div>

<div>
  {%  for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }} alert-dismissible fade show"
   role="alert" style="text-align: center; font-style:inherit;">
    {{ message}}
  </div>
  {% endfor %}
</div>

{% endblock %}


