<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="{{url_for('.static', filename='login.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='flashes.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset password</title>
</head>
<body>
 

  <div class="loginBox"> <h2 id="resetpwd" style="position:center;">Reset password</h2></br>
     <img class="user" src="https://www.md-clinicals.com/assets/img/logo.png" height="60px" width="275px">
      <form method="POST" action="{{url_for('reset_password')}}">
        {{form.hidden_tag()}}
        {{form.new_password}}
        {{form.confirm_password}}
        {{form.submit}} 
        <div>
          <a href="{{url_for('login')}}">Log In</a> 
       </div></br>
      </form></br>

    {%  for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }} alert-dismissible fade show"
         role="alert" style="text-align: center; font-style:inherit;">
          {{ message}}
        </div>
    {% endfor %}

</div>

</body>
</html>


