<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome!!!</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='welcome.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="logo"><a href="#"><img src="../static/logo.png" width="300" height="60"></a></div>
        <nav style="box-shadow: 0px 2px 5px rgb(119, 119, 119)">
            <ul>
                <li><a href="{{url_for('home')}}"><i class="fa fa-fw fa-home"></i>Home</a></li>
                <li><a href="{{url_for('dashboard')}}"><i class="fa fa-files-o"></i> Documents</a></li>
                <li><a href="{{url_for('profile')}}"><i class="fa fa-fw fa-user"></i>Profile</a></li>
                <li><a href="{{url_for('logout')}}"><i class="fa fa-fw fa-user"></i>Logout</a></li>
            </ul>
        </nav>
        <div  class="centered-text" id="weltext"><h1>Welcome {{firstname}}!!!</h1>
        </div>
    </div>
</div>
</body>
</html>
