<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome!!!</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='welcome.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="logo"><a href="#"><img src="../static/logo.png" width="300" height="60"></a></div>
        <nav style="box-shadow: 0px 2px 5px rgb(119, 119, 119)">
            <ul>
                <li><a href="{{url_for('login')}}"><i class="fa fa-fw fa-user"></i>Login</a></li>
            </ul>
        </nav>
        <div  class="centered-text" id="weltext"><h1>Welcome {{name}}!!!</h1><br>
            <h2>Click <a href="{{url_for('login')}}">here</a> to login</h2>
        </div>
    </div>
</div>
</body>
</html>
